<%- include('./partials/navbar.ejs') %>
<div>
    <div class="caraousel-container1">
    
         <div class="caraousel1">
            <div class="slider1">
                <div class="slide-content1">
                    <h1 class="movie-title1">Webed 2.0</h1>
                    <p class="movie-des1">Your learning jounery begins</p>
                </div>
                <img class="silder2" src="./img/inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg">   
            </div>
    </div> </div>
      </div>
   
  
  
      
      <script>alert("This is a responsive webpage check it out in mobile view, also sliders are enabled") </script>
      
    </body>
  </html>
  